POSTGRES_USER=praktikum
POSTGRES_PASSWORD=praktikum
POSTGRES_DB=praktikum

DB_PORT_HOST=55433

# Scheduler (cron konteiner)
TZ=Europe/Tallinn
# true = käivita run-all kohe konteineri stardil (arenduseks mugav)
RUN_ON_STARTUP=false

# Superset
# Kui 8088 on hõivatud (nt teine praktikum), kasuta 8089
SUPERSET_PORT_HOST=8089
SUPERSET_SECRET_KEY=jupiter_superset_secret_muuda_env_failis_2026
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=jupiter26
SUPERSET_ADMIN_EMAIL=admin@example.com
